body {
    background-color: #f4f4f7;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
}


/* header  */

.container--header {
    background-image: url(../img/header-background@2x.png);
    background-size: cover;
}