@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'),
        url('Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff'),
        url('Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
  
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
        url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff'),
        url('Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* glob */

:root {
    --light: #f4f4f7;
    --white: #ffffff;
    --silver: #c0c6c8;
    --dark: #2d2d42;
    --blue: #64cae1;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--light);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

/* header  */

.container--header {
    background-image: url(../img/header-background@2x.png);
    background-size: cover;
}

.icon__background {
    position: relative;
    width: 90px;
    height: 90px;
    background-color: #63c9e0;
    border-radius: 50%;
}

.icon__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}